@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bkg: #f8f0ef;
    --color-content: #3f1157;
    --color-primary: #3f1157;
    --color-secondary: #ed92af;
    --color-accent: #2b4cca;
  }
  /* @media (prefers-color-scheme: dark) {
    :root {
      --color-bkg: 215deg 15% 15%;
      --color-content: 0deg 0% 98%;
      --color-primary: 224deg 76% 48%;
      --color-secondary: 180deg 47% 17%;
      --color-accent: 210deg 47% 57%;
      --color-contrast: 215deg 15% 98%;
    }
  } */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-content);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

header {
  max-width: 600px;
  padding-left: 4rem;
  padding-right: 4rem;
}

body {
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
.button {
  border-radius: 4px;
  padding: 1.5em 3.5em 1.5em 1.3em;
  font-size: 0.8em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover,
.button:hover {
  border-color: #646cff;
}
